<ion-header>
  <ion-toolbar>
    <ion-title>
      Products 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 *ngIf="!updateForm">Add Product</h2>
  <form *ngIf="!updateForm" [formGroup]="productForm">
<ion-item>
  <ion-label position="floating">Product Name</ion-label>
  <ion-input type="text" formControlName="name"></ion-input>
</ion-item>
<div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error">
<small *ngIf="productForm.get('name')?.hasError('required')">Name is Required</small>
<small *ngIf="productForm.get('name')?.hasError('minlength')">Name must be at least 2 character</small>
</div>
<ion-item>
  <ion-label position="floating">Category</ion-label>
  <ion-input type="text" formControlName="category"></ion-input>
</ion-item>
<div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched" class="error">
  <small *ngIf="productForm.get('category')?.hasError('required')">Category is Required</small>
  <small *ngIf="productForm.get('category')?.hasError('minlength')">Category must be at least 2 character</small>
  </div>
<ion-item>
  <ion-item>
    <ion-label>In Stock</ion-label>
  <ion-checkbox formControlName="inStock"></ion-checkbox>
  </ion-item>
  
  <ion-label position="floating">Price</ion-label>
  <ion-input type="text" formControlName="price"></ion-input>
</ion-item>
<div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error">
  <small *ngIf="productForm.get('price')?.hasError('price')">Price is Required</small>
  <small *ngIf="productForm.get('price')?.hasError('price')">Price must be positive number</small>
  </div>
  <ion-button expand="block" type="submit" [disabled]="productForm.invalid" (click)="addProduct()">Save</ion-button>
  
  </form>
  <h2 *ngIf="updateForm">Update Product</h2>
  <form *ngIf="updateForm" [formGroup]="productForm">
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error">
    <small *ngIf="productForm.get('name')?.hasError('required')">Name is Required</small>
    <small *ngIf="productForm.get('name')?.hasError('minlength')">Name must be at least 2 character</small>
    </div>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-input type="text" formControlName="category"></ion-input>
    </ion-item>
    <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched" class="error">
      <small *ngIf="productForm.get('category')?.hasError('required')">Category is Required</small>
      <small *ngIf="productForm.get('category')?.hasError('minlength')">Category must be at least 2 character</small>
      </div>
    <ion-item>
      <ion-item>
        <ion-label>In Stock</ion-label>
      <ion-checkbox formControlName="inStock"></ion-checkbox>
      </ion-item>
      
      <ion-label position="floating">Price</ion-label>
      <ion-input type="text" formControlName="price"></ion-input>
    </ion-item>
    <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error">
      <small *ngIf="productForm.get('price')?.hasError('price')">Price is Required</small>
      <small *ngIf="productForm.get('price')?.hasError('price')">Price must be positive number</small>
      </div>
      <ion-button expand="block" type="submit" (click)="updateProduct()">Update</ion-button>
      <ion-button expand="block" type="button" (click)="cancelUpdate()">Cancel</ion-button>
      </form>
      <ion-content>
        <ion-card>
          <ion-card-header>
          <ion-card-title>Product List</ion-card-title>
          <!-- <ion-label for="categoryfilter">Filter by Category</ion-label>
          <ion-select id="categoryfilter" [(ngModel)]="selectedCatogory" (change)="products()">
            <option value="'">All</option>
            <optiopn *ngFor="let category of products()" [value]="category">{{category}} </optiopn>
          </ion-select> -->
        </ion-card-header>
        <ion-card-content>
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products()">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td>{{product.inStock}}</td>    
                <td><ion-button size="small" (click)="populateUpdateForm(product)">Edit</ion-button><ion-button size="small" (click)="deleteProduct(product.id)">Delete</ion-button></td>        
              </tr>
            </tbody>
          </table>
        </ion-card-content>
        </ion-card>
      </ion-content>
 </ion-content>
